.Basket {
    height: 30px;
    margin-right: 5px;
    margin-left: 20px;
}

.NavigationItems {
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
   
    list-style: none;
}

@media (max-width:600px){
    .NavigationItems {
        display: none;
    }

}
